{% extends "@OCBooking/layout.html.twig" %}

{% block title %}
    {{ parent() }} - Billetterie
{% endblock %}
{% block booking_body %}
    <body id="homep">
    <div class="container-fluid">
            <h1 class="text-center display-4 mb-4">Bienvenue au Musée du Louvre</h1>
            <p class="text-center lead">Espace Billetterie</p>
        <hr>
        <div class="jumbotron jumbotron-fluid homep_box">
            {% for message in app.session.flashbag.get('error_id') %}
                <div class="text-center alert alert-danger container">{{ message }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('billing_ok') %}
                <div class="text-center alert alert-info container">{{ message }}</div>
            {% endfor %}
            <div class="container">
                <h1 class="text-center display-4">Réveillez votre curiosité !</h1>
                <p class="text-center lead">
                    Grâce a notre nouveau sytème de réservation en ligne, fini les files d'attente interminables !
                </p>
                <p class="lead text-center text-muted"> Pour commander vos billets, veuillez remplir le formulaire ci-dessous.</p>
                <div class="form-group text-center">
                    {{ form(form) }}
                </div>
                    <small id="emailHelp" class="text-center form-text text-muted">Veuillez rentrer l'adresse à laquelle seront envoyés les billets.</small>
                    <small id="choiceHelp" class="text-center form-text text-muted">Les billets Journée ne sont plus disponibles passé 14h00.</small>
                </div>
            </div>
        </div>
    </body>
{% endblock %}

